<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="FloatExercise.css" />    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatibile" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Float Exercise</title>
</head>
    <body>

   
        <br>
    <div>
        <header>
            <nav class="navigation">
                <ul>
                <li class="list">Blog</li>
                <li class="list">Contact</li>
                <li class="list">About</li>
                <li class="list">Home</li>
                </ul>
            </nav>
        </header>

        <main>
            <img src="./html5-css3pic.PNG" alt="CSS/HTML5 logo" class="logo">
        </main>
    </div>
    <div class="container2">
        <div class="article1 box">300 x 200</div>
        <div class="article2 box">300 x 200</div>
        <div class="article3">
            <table>
            <tr><td height="15px">Rebulding slack.com</td></tr>
            <tr><td height="1px"><hr></td></tr>
            <tr><td height="15px">Zasto bootcamp format?</td></tr>
            <tr><td height="1px"><hr></td></tr>
            <tr><td height="15px">React prozor u svet web aplikacija</td></tr>
            <tr><td height="1px"><hr></td></tr>
            <tr><td height="15px">Najvece zablude o programerima u Srbiji</td></tr>
            <tr><td height="1px"><hr></td></tr>
            </table>
        </div>
    </div>
    <div class="container3">
        <div class="article4 text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita incidunt, possimus, aperiam  maxime delectus dolorum necessitatibus natus seape ab, nesciunt tempore porro quam vero doloribus veniam volotatibus illum ut.</p> 
        </div>
        <div class="article4 text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita incidunt, possimus, aperiam  maxime delectus dolorum necessitatibus natus seape ab, nesciunt tempore porro quam vero doloribus veniam volotatibus illum ut.</p> 
        </div>
    </div>

    <div class="container2">
        <div class="article6 box">300 x 200</div>
        <div class="article7 box">300 x 200</div>
        <div class="article1 box">300 x 200</div>
    </div>

    <div class=container4>
        <div class="article4 text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita incidunt, possimus, aperiam  maxime delectus dolorum necessitatibus natus seape ab, nesciunt tempore porro quam vero doloribus veniam volotatibus illum ut.</p> 
        </div>
        <div class="article4 text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita incidunt, possimus, aperiam  maxime delectus dolorum necessitatibus natus seape ab, nesciunt tempore porro quam vero doloribus veniam volotatibus illum ut.</p> 
        </div>
        <div class="article4 text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita incidunt, possimus, aperiam  maxime delectus dolorum necessitatibus natus seape ab, nesciunt tempore porro quam vero doloribus veniam volotatibus illum ut.</p> 
        </div>
    </div>

    <div class="container2">
        <div class="article2 box">300 x 200</div>
        <div class="article6 box">300 x 200</div>
        <div class="article7 box">300 x 200</div>
    </div>

    <div class=container4>
        <div class="article4 text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita incidunt, possimus, aperiam  maxime delectus dolorum necessitatibus natus seape ab, nesciunt tempore porro quam vero doloribus veniam volotatibus illum ut.</p> 
        </div>
        <div class="article4 text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita incidunt, possimus, aperiam  maxime delectus dolorum necessitatibus natus seape ab, nesciunt tempore porro quam vero doloribus veniam volotatibus illum ut.</p> 
        </div>
        <div class="article4 text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita incidunt, possimus, aperiam  maxime delectus dolorum necessitatibus natus seape ab, nesciunt tempore porro quam vero doloribus veniam volotatibus illum ut.</p> 
        </div>
    </div>
        <br>
        <br>
        <br>
    <div class="footer">
       <p>&#169; BitStudent</p>    
    </div>
 
    </body>
</html>
