<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="/CSS/normalize.css"
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatibile" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
</head>
    <body>
        <h1>Naslov</h1>
<div class="parent">
    <div id="first-child">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste. Adipisci totam porro repellat magnam blanditiis odit architecto reprehenderit, ex consequatur delectus. Quidem eius voluptas dignissimos? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste.</p>
    </div>
    <div id="second-child">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste. Adipisci totam porro repellat magnam blanditiis odit architecto reprehenderit, ex consequatur delectus. Quidem eius voluptas dignissimos? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste.</p>
    </div>
    <div id="third-child">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste. Adipisci totam porro repellat magnam blanditiis odit architecto reprehenderit, ex consequatur delectus. Quidem eius voluptas dignissimos? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste.</p>
    </div>
    <div id="second-child">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste. Adipisci totam porro repellat magnam blanditiis odit architecto reprehenderit, ex consequatur delectus. Quidem eius voluptas dignissimos? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste.</p>
    </div>
    <!--<div id="first-child">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste. Adipisci totam porro repellat magnam blanditiis odit architecto reprehenderit, ex consequatur delectus. Quidem eius voluptas dignissimos? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste.</p>
    </div>
    <div id="third-child">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste. Adipisci totam porro repellat magnam blanditiis odit architecto reprehenderit, ex consequatur delectus. Quidem eius voluptas dignissimos? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste.</p>
    </div>
    <div id="first-child">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste. Adipisci totam porro repellat magnam blanditiis odit architecto reprehenderit, ex consequatur delectus. Quidem eius voluptas dignissimos? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste.</p>
    </div>
    <div id="second-child">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste. Adipisci totam porro repellat magnam blanditiis odit architecto reprehenderit, ex consequatur delectus. Quidem eius voluptas dignissimos? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo rerum vel alias nesciunt iste.</p>
    </div>-->
</div>
    </body>
</html>
