<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="layout1.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatibile" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
</head>
    <body>
    <div class="parent">
        
        <p>Activist Marijana Mutavcieva said their activities started over a years ago, that they first turned to the state institutions for help, then went out into the streets and ended up in the woods. She said she was addressing the people from outside instead of from inside “the home of all citizens of the Republic of Serbia” to tell them what the people assembled around the Sordos Survivor Camp are demanding from the Mayor of Novi Sad and other state institutions. Environmental activists have been protesting against the construction of a bridge across the Danube in the northern Serbian city of Novi Sad. The construction site is surrounded by woods which environmental activists have warned will be cut down.</p>
        
        <div id="first-child">
            <img src="https://images.squarespace-cdn.com/content/v1/5c69df27ca525b3b56a5cce6/1553776779529-IF27XV130PBNE5RZU3F9/JackBrauer-WanakaSunrise.jpg?format=500w" title="Pic1" alt="Tree in the water">
        </div>
      
        <div id="second-child">
            <img src="Flowers in a pot.jpg" width="250px" title="Pic2" alt="Flowers">
        </div>
        
        <div id="third-child">
            <img src="Pretty background.jpg" width="300px" title="Pic3" alt="Dock View Of Montains"> 
        </div>
        
        <p>Eventually, Panathinaikos fought back, but didn't bounce back. Monaco got the better of the Greens and finished the job behind Mike James' 28 points. The team from the Principality wasted a 19-point lead (11-29) that came early in the game, and saw the Greens become real contenders from the second quarter onwards. That's not a first for the squad coached by Sasa Obradovic. Monaco gave up on a lead just as big (19 points) last Tuesday against Maccabi in Tel Aviv. The difference lies in the outcome - in Israel, they lost; in Athens, they came out victorious. Obradovic was all smiles after the game in the Greek capital, but he was also concerned about his squad coming close to losing an initially one-sided contest.
        </p>
        <br>
        <p>"It's not simple, we have to adjust," he warns. "Teams play us really strong. Especially on the road, they're very tough and aggressive. We have to adjust as fast as possible and know what to do at certain moments."Obradovic said he didn't want to make any excuses for the Athens game, but noted that "the last couple of days before the game vs. Maccabi were very hard." "Even the trip was 14 hours, and the lack of energy became obvious in the second half," he continued. "But the good thing about losses is that you can learn from them too. It's good that we lost the way we did in Tel Aviv because that will help us in the next games."
        </p>
        <br>
        <p>"We have a competitive team who's supposed to be a playoff contender. If we achieve more than that, it's going to be amazing," the 53-year-old coach thinks. "But there's a lot of games like that in the EuroLeague season."Monaco clearly got stronger in the off-season, picking up high-caliber free agents that can lend Mike James several helping hands. Moreover, the 2021 EuroCup winners and Sasa Obradovic himself could count on almost the entirety of their roster. Only Elie Okobo was unavailable in pre-season due to his EuroBasket obligations with France. Obradovic remarked that Monaco's roster has become wider, and also stressed that the squad has the luxury of hosting better domestic players than last year.
        </p>
        <a class="link" href="#top">&nbsp ↑ Top Of The Page &nbsp</a>
        <br>
        
    </div>
    <br>
    <hr>
    <br>
    <h1>Advanced positioning (Homework)</h1>
    
    <div id="main">
        <div id="line">
            <div class="block1">Home</div>
            <div class="block2">Menu 1</div>
            <div class="block3">Menu 2
                <div class="submeni1">Sub Menu 1</div>
                <div class="submeni2">Sub Menu 2</div>
                <div class="submeni3">Sub Menu 3</div>
            </div>
            <div class="block4">Menu 3</div>
        </div>
    </div>

    <br>
    <br>
    </body>
</html>