<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="zindex.css" />
    <link rel="stylesheet" href="/CSS/normalize.css"
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatibile" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Layout - Z-index</title>

</head>
    <body>
        <br>
        <br>
        
        <h4>Creating divs</h4>
        <div class="parent">
            <div class="child-one">I</div>
            <div class="child-two">II</div>
            <div class="child-three">III</div>
        </div>
        
        <hr>
        <h4>Arranging divs</h4>
        <div class="second">
            <div class="first-child">I</div>
            <div class="second-child">II</div>
            <div class="third-child">III</div>
        </div>
        
        <hr>
        <h4>Rearranging divs and stacking order</h4>
        <div class="third-parent">
            <div class="child-four">I</div>
            <div class="child-five">II</div>
            <div class="child-six">III</div>
        </div>

    </body>
</html>